@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 33% 3%;
  --foreground: 210 20% 96%;
  --card: 222 28% 7%;
  --card-foreground: 210 20% 96%;
  --primary: 0 0% 98%;
  --primary-foreground: 222 47% 8%;
  --muted: 217 16% 15%;
  --muted-foreground: 217 12% 64%;
  --accent: 217 16% 20%;
  --accent-foreground: 210 20% 96%;
  --border: 217 16% 20%;
  --input: 217 16% 20%;
  --ring: 210 20% 83%;
  --radius: 0.8rem;
}

* {
  @apply border-border;
}

body {
  font-feature-settings: 'rlig' 1, 'calt' 1;
}
